body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* CSS for Sort By Container */
.sort-by-container {
  margin-bottom: 20px;
}

.sort-by-container label {
  font-weight: bold;
  margin-right: 10px;
}

.sort-by-container select {
  padding: 8px;
  font-size: 14px;
}

.sort-by-container select:focus {
  outline: none;
  border: 1px solid #007bff; 
}

.sort-by-container select option {
  font-size: 14px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll caused by overflow */
}

html {
  font-size: 16px; /* This is the base font size */
}

@media (max-width: 768px) {
  html {
      font-size: 14px; /* Adjust font size for smaller screens */
  }
}


