body {
    background-color: #FFD700;
    margin: 0;
    overflow: hidden;
}

.h1 {
    font-family: 'Inter', sans-serif; 
    margin-top: 100px;
}

.h2 {
    font-family: 'Inter', sans-serif; 
    font-weight: bold;
    text-align: center;
    margin-top: 40px;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
}

.login-button {
    background-color: #FFD700;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 240px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}
.button{
    background-color: #FFD700;
    color: #000000;
    padding: 10px 20px;
    border: none;
    margin-left: 450px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

}

.button:hover, .login-button:hover {
    background-color: #FFC300;
}

.h3 {
    font-family: 'Inter', sans-serif; 
    font-weight: bold;
    text-align: center;
    color: #FFD700;
}

header {
    text-align: center;
    padding: 10px; 
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    max-width: 130px;
    margin-right: 20px;
    margin-top: 80px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #800000;
    text-align: center;
    border: 2px solid #800000;
    border-radius: 10px;
    box-sizing: border-box;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form {
    margin: 0;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
}
.inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    width: 50%; /* Make the inputs wider */
}

.inputs .input-field {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 20px;
}
.input-container {
    color: #ffffff; 
}
.forgot-password {
    margin-top: 10px; /* Add some margin-bottom to move it down */
    margin-right: 370px;
    
}

.forgot-password a {
    color: #ffffff; /* Change the text color to white */
}



